body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 100px;
}
h1{
    color: #333;
    font-size: 36px;
}
#password-generator{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}